<h1><%= @user.name %></h1>

<p>Edit Profile <%= link_to "Edit Profile", edit_user_path %></p>

<h3>Secrets:</h3>

<% @user.secrets.each do |secret| %>
	<p>
		<%= secret.content %> | <%= secret.created_at%> 
		<p><%= secret.likes.count %> likes</p>
		<%= form_for(:secret , url: "/secrets/#{secret.id}", method: "delete") do |f| %>
		    <%= f.submit "Delete" %>
		<% end %>
	</p>
<% end %>

<%= form_for(:secret , url: secrets_path) do |f| %>

	<%= f.label :content, "New Secret" %><br>
	<%= f.text_area :content %><br>

    <%= f.submit "Create Secret" %>
<% end %>