<h1>Secrets</h1>

<% @secrets.each do |secret| %>
	<p>
		<p><%= secret.content %> | <%= secret.created_at%></p>
		<p><%= secret.likes.count %> likes</p>
<!-- 		  <form action='/likes' method='post'>
    <input type='hidden' name='authenticity_token' value='<#%= form_authenticity_token %>'>
    <input type='hidden' name='secret_id' value='<#%= secret.id %>'>
    <input type='submit' value='Like'>
  </form> -->
  		<%if not current_user.likes.find_by(secret: secret) %>
	  		<%= form_for(:secret,  url: likes_path) do |f| %>
	  			<%= f.hidden_field(:id, value:"#{secret.id}") %>
			    <%= f.submit "Like" %>
			<% end %>
		<% else %>
			<%= form_for(:secret,  url: likes_path, method:"delete") do |f| %>
	  			<%= f.hidden_field(:id, value:"#{secret.id}") %>
			    <%= f.submit "Unlike" %>
			<% end %>
		<% end %>
		<% if current_user == secret.user %>
			<%= form_for(:secret , url: "/secrets/#{secret.id}", method: "delete") do |f| %>
			    <%= f.submit "Delete" %>
			<% end %>
		<% end %>
	</p>
<% end %>

